<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>

</head>

<body>

<h2>HOME PAGE</h2>


<!-- aqui mostra o user e as permissoes -->
<p>
    Usuário: <span sec:authentication="principal.username"></span>
    <br>
    Cargo(s): <span sec:authentication="principal.authorities"></span>
</p>

<!-- add um link para "/gerentes" -->
<div sec:authorize="hasRole('GERENTE')">
    <p>
        Acesso dos gerentes.
        <a th:href="@{/gerentes}">Lista de gerentes</a>
    </p>
</div>

<!-- add um link para "/systems" -->

<div sec:authorize="hasRole('ADM')">
    <p>
        <a th:href="@{/systems}">Conteudo de adms</a>
        Acesso dos adms.
    </p>
</div>

<!-- Botão de Logout -->
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout">
</form>

</body>

</html>